<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validarLogin</servlet-name>
        <servlet-class>validarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlaNuevaVenta</servlet-name>
        <servlet-class>controlaNuevaVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlaNuevoProducto</servlet-name>
        <servlet-class>controlaNuevoProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlaModificarProducto</servlet-name>
        <servlet-class>controlaModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlaNuevoComercial</servlet-name>
        <servlet-class>controlaNuevoComercial</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validarLogin</servlet-name>
        <url-pattern>/validarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlaNuevaVenta</servlet-name>
        <url-pattern>/controlaNuevaVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlaNuevoProducto</servlet-name>
        <url-pattern>/controlaNuevoProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlaModificarProducto</servlet-name>
        <url-pattern>/controlaModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlaNuevoComercial</servlet-name>
        <url-pattern>/controlaNuevoComercial</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
